body{
	font-family: 'Assistant', serif;
	background-color: hsl();
	 -webkit-text-size-adjust: none;
}

article{
	display: grid;
	grid-template-columns: 1fr 0.5in [start] minmax(0, 7.5in) [end] 0.5in 1fr;

	padding: 0.5in 0;
	padding-bottom: 1in;
}

article *{
	grid-column: start/end;
	@media (max-width: 8.5in){	grid-template-columns: 1fr 5% [start] 90% [end] 5% 1fr;}
}


article img {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: 2rem;
}


figure *{
		display: block;
}

figcaption{
 color: gray;
 font-size: 8px;
   display: inline-block;
  min-width: 50%;
  max-width: 50%

}

h2{ font: 700 2rem "Assistant" ;}
h3{ font: 700 1.5rem "Assistant" ;}
time{ font: 700 1.0rem "Assistant";}
p{font: 400 1.0rem/1.5 "Assistant";}

p a{ box-shadow: inset 0 -0.25em black; }

@media (max-width: 8.5in) { :root {font-size: 18px};}
@media (max-width: 5.0in) { :root {font-size: 16px};}



h3, p:not(:last-child){
	margin-bottom: 2.4rem;
}

.header h1{
		font: 2rem "Assistant";
				background-color: #585858;
				color: #FFFFFF;
				text-align: center;
				margin-top: 0;
				margin-bottom: 0;
				border-bottom: 0;
				border-bottom-color: #000000;
			}
/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #585858;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border-bottom: solid black 5px;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #FFFFFF;
  color: black;
}

.visualisation {
border: dashed black 1px;
margin-bottom: 2rem;
}

.images {
 margin-left: auto;
	margin-right: auto;
	width: 40%;
	margin-bottom: 2rem;
}


.images2 {
 margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-bottom: 2rem;
}

.recentPosts{
	border: solid black 1px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.subtitle{
 color: gray;
 font-size: 4px;
   display: inline-block;
}

.tweets {
 margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-bottom: 2rem;
}
